# Python bytecode
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py
.env

# If using translations
*.po

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# macOS
.DS_Store

# VS Code
.vscode/

# Pycharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/

# Pipenv
Pipfile.lock

# MySQL dumps
*.sql

# Backup files
*.bak
*.swp
*~

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
